body {
    color: #616161;
    background-color: black;
    justify-content: center;
}

#library-grid {
    margin: 5% 10%;
}

tr {
    padding: 10px 0;
}

td {
    padding: 50px;
}

.head {
    color: chartreuse;
    background-color: #616161;
    border-radius: 10px;
}
button {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    width: 10%;
    border-radius: 5px;
    }